<style>
    .success {
        display: block;
        background-color: #2fdc2f !important;
        color: white;
        font-weight: bold;
        padding: 12px;
        border: 1px solid black;
        border-radius: 8px;
        margin: 16px;
    }
    .warning {
        display: block;
        background-color: darkred !important;
        color: white;
        font-weight: bold;
        padding: 12px;
        border: 1px solid black;
        border-radius: 8px;
        margin: 16px;
    }
</style>

{% if messages %}
    {% for message in messages %}
        <p class="{{ message.tags }} text-center">
        {{ message }}
    {% endfor %}
</p>
{% endif %}

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    {% for instance in datamaps_list %}
        <tbody>
        <tr>
            <td>{{ instance.name }}</td>
            <td>{{ instance.description }}</td>
        </tr>
        </tbody>
    {% endfor %}
</table>